<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Free Gym Website Template | Pricing :: w3layouts</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet" type="text/css">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <!-- grid-slider -->
    <script type="text/javascript" th:src="@{/js/jquery.mousewheel.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.contentcarousel.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery.easing.1.3.js}"></script>
    <!-- //grid-slider -->
    <!-- Add fancyBox main JS and CSS files -->
    <script th:src="@{/js/jquery.magnific-popup.js}" type="text/javascript"></script>
    <link th:href="@{/css/magnific-popup.css}" rel="stylesheet" type="text/css">
<!--    <script>-->
<!--        $(document).ready(function () {-->
<!--            $('.popup-with-zoom-anim').magnificPopup({-->
<!--                type: 'inline',-->
<!--                fixedContentPos: false,-->
<!--                fixedBgPos: true,-->
<!--                overflowY: 'auto',-->
<!--                closeBtnInside: true,-->
<!--                preloader: false,-->
<!--                midClick: true,-->
<!--                removalDelay: 300,-->
<!--                mainClass: 'my-mfp-zoom-in'-->
<!--            });-->
<!--        });-->
<!--    </script>-->
    <style>
        #commentform input[type="submit"]:hover {
            background: #555;
        }

        /*--自訂CSS--*/
        .price1 {
            background: #00bff0;
            text-align: left;
            padding: 5%;
        }

        div.ca-item {
            box-sizing: border-box;
            width: 300px;
            padding: 10px 10px 5px 10px;
            font-size: 1.5em;
        }

        div.dl_info,
        p.total_price {
            color: #000000;
            font-size: 1em;
            padding: 2px 10px;
            line-height: 1.5em;
        }

        .next_button {
            color: #000000;
        }

        .receiver {
            font-size: 1.5em;
            font-weight: bold;
            color: #fff;
        }

        #info {
            font-size: 1.5em;
            color: #fff;
        }

        img {
            box-sizing: border-box;
            /* 設置box-sizing為border-box */
            width: 100%;
            /* 設置寬度為100% */
            max-width: 200px;
            /* 設置最大寬度 */
            height: auto;
            /* 高度自動，保持圖片比例 */
            padding: 0;
            /* 添加內邊距 */
        }

        table {
            border: 2px solid #fff;
            /* separate(預設) | collapse */
            border-collapse: collapse;
            table-layout: auto;
            margin: 5px;
        }

        table td,
        table th {
            border: 2px solid #fff;
            font-size: 1.5em;
            color: #fff;
            padding: 10px;
        }

        .about_banner_wrap {
            position: relative;
        }

        h1.m_11 {
            color: #FFF;
            background: #00BFF0;
            padding: 7px 50px;
            font-size: 2em;
            text-transform: uppercase;
            font-weight: 100;
            position: absolute;
            top: -48px;
            text-align: center;
            left: 14%;
            margin: 0;
        }
    </style>

</head>

<body>
<!-- start header_bottom -->
<div class="header-bottom">
    <div class="container">
        <div class="header-bottom_left">
            <i class="phone"> </i><span>1-200-346-2986</span>
        </div>
        <div class="social">
            <ul>
                <li class="facebook"><a href="#"><span> </span></a></li>
                <li class="twitter"><a href="#"><span> </span></a></li>
                <li class="pinterest"><a href="#"><span> </span></a></li>
                <li class="google"><a href="#"><span> </span></a></li>
                <li class="tumblr"><a href="#"><span> </span></a></li>
                <li class="instagram"><a href="#"><span> </span></a></li>
                <li class="rss"><a href="#"><span> </span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- start menu -->
<div class="menu">
    <div class="container">
        <div class="logo">
            <a th:href="@{/index}"><img th:src="@{/images/logo.png}" alt=""></a>
        </div>
        <div class="h_menu4"><!-- start h_menu4 -->
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/member/account_information}">會員專區</a></li>
                <li><a th:href="@{/trainers}">專屬你的訓練</a>
                <li><a href="classes.html">Classes</a></li>
                <li><a th:href="@{/menu}">Menu</a></li>
                <li class="active"><a th:href="@{pricing}">Pricing</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <script type="text/javascript" th:src="@{/js/nav.js}"></script>
        </div><!-- end h_menu4 -->
        <div class="clear"></div>
    </div>
</div>
<!-- end menu -->
<!------------------⬇️以下為修改範圍⬇️------------------------>
<div class="main">
    <div class="about_banner_img"><img th:src="@{/images/price.jpg}" class="img-responsive" alt=""></div>
    <div class="about_banner_wrap">
        <h1 class="m_11">線上購物</h1>
    </div>
    <div class="border"></div>
    <div class="container">
        <div class="row price_plans">
            <h3 class="m_2" th:text="${!#strings.isEmpty(coachCourseID) ? '課程訂單' : '宅配資訊'}">宅配資訊</h3>
            <form class="price1">
                <!-- 訂單商品資訊 -->
                <hr>
                <span class="receiver">商品資訊</span>
                <hr>
                <table>
                    <tr>
                        <td class="abc">商品名稱</td>
                        <td>縮圖</td>
                        <td>數量</td>
                        <td>單價</td>
                        <td>小計</td>
                    </tr>
                    <tr id="productContent">
                        <td>好吃能量棒</td>
                        <td><img th:src="@{/images/protein.png}" alt=""></td>
                        <td>1</td>
                        <td>100元</td>
                        <td>100元</td>
                    </tr>
                </table>
                <p class="total_price">此次消費總計：100元</p>
                <hr>
                <!--宅配資訊 -->
                <span class="receiver">收件人資訊</span>
                <hr>
<!--                 <div class="dl_info" th:object="${member}"> -->
<!--                     <label for="receiver_name">姓名*：</label> -->
<!--                     <input type="text" name="receiver" id="receiver_name" -->
<!--                            th:value="${#strings.isEmpty(member.receiver) ? (#strings.isEmpty(member.name) ? '' : member.name) : ''}"><br/> -->
<!--                     <label for="receiver_addr">地址*：</label> -->
<!--                     <input type="text" name="receiverAddress" id="receiver_addr" -->
<!--                            th:value="${#strings.isEmpty(member.receiverAddress) ? (#strings.isEmpty(member.address) ? '' : member.address) : ''}"><br/> -->
<!--                     <label for="receiver_phone">電話*：</label> -->
<!--                     <input type="text" name="receiverPhone" id="receiver_phone" -->
<!--                            th:value="${#strings.isEmpty(member.receiverPhone) ? (#strings.isEmpty(member.phone) ? '' : member.phone) : ''}"><br/> -->
<!--                     <label for="receiver_email">信箱*：</label> -->
<!--                     <input type="text" name="" id="receiver_email" -->
<!--                            th:value="${#strings.isEmpty(member.email) ? '' : member.email}"><br/> -->
<!--                     <label for="receiver_notice" th:style="${#strings.isEmpty(coachCourseID) ? '' : 'display: none;'}">宅配備註*：</label> -->
<!--                     <textarea name="" id="receiver_notice" cols="auto" rows="auto" -->
<!--                               th:style="${#strings.isEmpty(coachCourseID) ? '' : 'display: none;'}"></textarea><br/> -->

<!--                     </label></label></label></label></label></div> -->
                <!--                <button class="next_button" type="submit" onclick="window.location.href='./credit_card.html'" value="確認並前往付款">-->
                <!--                    確認並前往付款-->
                <!--                </button>-->
                <input type="submit" value="確認並前往付款">
                <div class="price_plans_box">

                    <div class="clear"></div>

                </div>
            </form>
        </div>


<!--        <script type="text/javascript">-->
<!--            $('#ca-container').contentcarousel();-->
<!--        </script>-->

        <div class="clear"></div>
    </div>
</div>

<!------------------⬆️以上為修改範圍⬆️------------------------>
<div class="footer-bottom">
    <div class="container">
        <div class="row section group">
            <div class="col-md-4">
                <h4 class="m_7">Newsletter Signup</h4>
                <p class="m_8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit sed diam nonummy.</p>
                <form class="subscribe">
                    <input type="text" value="Insert Email" onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = 'Insert Email';}">
                </form>
                <div class="subscribe1">
                    <a href="#">Submit Email<i class="but_arrow"> </i></a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="f-logo">
                    <img th:src="@{images/logo.png}" alt="">
                </div>
                <p class="m_9">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
                    quis</p>
                <p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(00) 222 666 444</span>
                </p>
                <p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">info[at]mycompany.com</span>
                </p>
            </div>
            <div class="col-md-4">
                <ul class="list">
                    <h4 class="m_7">Menu</h4>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Trainers</a></li>
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="list1">
                    <h4 class="m_7">Community</h4>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Newsletter</a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="copy">
            <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
        </div>
        <div class="social">
            <ul>
                <li class="facebook"><a href="#"><span> </span></a></li>
                <li class="twitter"><a href="#"><span> </span></a></li>
                <li class="pinterest"><a href="#"><span> </span></a></li>
                <li class="google"><a href="#"><span> </span></a></li>
                <li class="tumblr"><a href="#"><span> </span></a></li>
                <li class="instagram"><a href="#"><span> </span></a></li>
                <li class="rss"><a href="#"><span> </span></a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script th:inline="javascript">

    var coachCourseID = /*[[${coachCourseID}]]*/ '[[${coachCourseID}]]';
    (function () {
        $(document).ready(function () {
            if (coachCourseID !== null) {
                $.ajax({
                    url: '/trainers/orderCoachCourse.do',
                    method: 'POST',
                    data: { coachCourseID: coachCourseID },
                    success: function (data) {
                        console.log("Received data:", data);
                        if (data) {
                            $('#productContent').empty();
                            console.log(data)
                            var courseImageHtml = '';
                            if (data.coachCoursePics && data.coachCoursePics.length > 0) {
                                courseImageHtml = `<td><img src="/course/DBGifReader?picID=${data.coachCoursePics[0].id}&source=coachCourse" alt="Course Image"></td>`;
                            } else {
                                courseImageHtml = `<td><img src="/course/DBGifReader?picID=0&source=coachCourse" alt="Default Image"></td>`;
                            }

                            $('#productContent').append(`
                        <td>${data.courseName}</td>
                        ${courseImageHtml}
                        <td>1</td>
                        <td>${data.coursePrice}元</td>
                        <td>${data.coursePrice}元</td>
                    `);

                            $('.total_price').empty();
                            $('.total_price').append(`
                        已有 ${data.countMembers}  人購買 !
                    `);
                        }
                    },
                    error: function (xhr, status, error) {
                        // 錯誤時的處理邏輯
                        console.error("AJAX Error: " + status + " - " + error);

                        // 顯示具體的錯誤信息
                        console.error("Response Text: " + xhr.responseText);
                        console.error("Status: " + xhr.status);
                        console.error("ReadyState: " + xhr.readyState);
                        console.error("TextStatus: " + status);

                        // 可以選擇顯示一個用戶友好的錯誤信息
                        alert("發生錯誤，請稍後再試！");
                    }
                });
            }
        });
    })();


    // // <![CDATA[  <-- For SVG support
    // if ('WebSocket' in window) {
    //     (function () {
    //         function refreshCSS() {
    //             var sheets = [].slice.call(document.getElementsByTagName("link"));
    //             var head = document.getElementsByTagName("head")[0];
    //             for (var i = 0; i < sheets.length; ++i) {
    //                 var elem = sheets[i];
    //                 var parent = elem.parentElement || head;
    //                 parent.removeChild(elem);
    //                 var rel = elem.rel;
    //                 if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
    //                     var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
    //                     elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
    //                 }
    //                 parent.appendChild(elem);
    //             }
    //         }
    //
    //         var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
    //         var address = protocol + window.location.host + window.location.pathname + '/ws';
    //         var socket = new WebSocket(address);
    //         socket.onmessage = function (msg) {
    //             if (msg.data == 'reload') window.location.reload();
    //             else if (msg.data == 'refreshcss') refreshCSS();
    //         };
    //         if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
    //             console.log('Live reload enabled.');
    //             sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
    //         }
    //     })();
    // } else {
    //     console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    // }
    // // ]]>
</script>
</body>

</html>