
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>推薦健康餐店家新增</title>
<head th:insert="~{/back-end/restifo/included-fragment}"></head>
<style type="text/css">
button {
	padding: 5px;
}

form {
	display: table;
}

form div {
	display: table-row;
}

label, input, span, select {
	display: table-cell;
	margin: 5px;
	text-align: left;
}

input[type=text], input[type=password], select, textarea {
	width: 200px;
	margin: 5px;
}

form div div {
	display: table-cell;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>

	<nav
		class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		<div align="center">
			<h2>員工健康餐店家新增</h2>
			<h3>
				<a class="navbar-brand" th:href="@{/restifo/select_page}">回查詢頁</a>
			</h3>
		</div>
	</nav>

	<div align="center">
		<h3>
			<b>所有欄位皆為必填欄位</b>
		</h3>
		<form th:action="@{insert}" method="post" th:object="${restIfoVO}"
			enctype="multipart/form-data">






			<div>
				<label>餐廳名稱:</label> <input type="text" th:field="*{restName}"
					onclick="hideContent('restName.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restName')}" th:errors="*{restName}"
					class="error" id="restName.errors"></span>
			</div>

			<div>
				<label>餐廳地址:</label> <input type="text" th:field="*{restAddress}"
					onclick="hideContent('restAddress.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restAddress')}"
					th:errors="*{restAddress}" class="error" id="restAddress.errors"></span>
			</div>

			<div>
				<label>營業時間:</label> <input type="date" th:field="*{restTime}"
					onclick="hideContent('restTime.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restTime')}" th:errors="*{restTime}"
					class="error" id="restTime.errors"></span>
			</div>

			<div>
				<label>電話:</label> <input type="text" th:field="*{restTel}"
					onclick="hideContent('restTel.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restTel')}" th:errors="*{restTel}"
					class="error" id="restTel.errors"></span>
			</div>


			<div>
				<label>地圖編號:</label> <select th:field="*{ResMapVO.mapID}">
					<option th:each="resMapVO : ${resMapListData}"
						th:value="${resMapVO.mapID}" th:text="${resMapVO.mapID}" />
				</select> <span th:if="${#fields.hasErrors('resMapVO.mapID')}"
					th:errors="*{resMapVO.mapID}" class="error"
					id="resMapVO.mapID.errors"></span>
			</div>

			<div>
				<div></div>
				<div>
					<button type="submit" id="submit">送出新增</button>
				</div>
				<div></div>
			</div>
		</form>

	</div>


	<!-- JavaScript part -->
	<script type="text/javascript">
		//清除提示信息
		function hideContent(d) {
			document.getElementById(d).style.display = "none";
		}
	</script>

</body>
</html>