<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>推薦健康餐餐廳資料修改</title>
<head th:insert="~{/back-end/restifo/included-fragment}"></head>
<style type="text/css">
button {
	padding: 5px;
}

form {
	display: table;
}

form div {
	display: table-row;
}

label, input, span, select {
	display: table-cell;
	margin: 5px;
	text-align: left;
}

input[type=text], input[type=password], select, textarea {
	width: 200px;
	margin: 5px;
}

form div div {
	display: table-cell;
}

.center {
	margin-left: auto;
	margin-right: auto;
}
</style>
</head>
<body>

	<nav
		class="navbar navbar-expand-md navbar-dark bg-success fixed-top justify-content-center">
		<div align="center">
			<h2>推薦健康餐餐廳-資料修改</h2>
			<h3>
				<a class="navbar-brand" th:href="@{/emp/select_page}">回查詢頁</a>
			</h3>
		</div>
	</nav>

	<div align="center">
		<h3>
			<b>所有欄位皆為必填欄位</b>
		</h3>
		<form th:action="@{update}" method="post" th:object="${restIfoVO}"
			enctype="multipart/form-data">
			<div>
				<label>餐廳編號:</label> <input type="text" th:field="*{restLoc}"
					style="border: 0px; font-weight: bold;" readonly /><br />

			</div>

			<div>
				<label>餐廳名稱:</label> <input type="text" th:field="*{restName}"
					onclick="hideContent('restName.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restName')}" th:errors="*{restName}"
					class="error" id="restName.errors"></span>
			</div>

			<div>
				<label>餐廳地址:</label> <input type="text" th:field="*{restAddress}"
					onclick="hideContent('restAddress.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restAddress')}"
					th:errors="*{restAddress}" class="error" id="restAddress.errors"></span>
			</div>

			<div>
				<label>營業時間:</label> <input type="date" th:field="*{restTime}"
					onclick="hideContent('restTime.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restTime')}" th:errors="*{restTime}"
					class="error" id="restTime.errors"></span>
			</div>

			<div>
				<label>餐廳電話:</label> <input type="text" th:field="*{restTel}"
					onclick="hideContent('restTel.errors');" /><br /> <span
					th:if="${#fields.hasErrors('restTel')}" th:errors="*{restTel}"
					class="error" id="restTel.errors"></span>
			</div>

			<div>
				<label>地圖編號:</label> <select th:field="*{resMapVO.mapID}">
					<option th:each="resMapVO : ${resMapListData}"
						th:value="${resMapVO.mapID}" th:text="${resMapVO.mapID}" />
				</select> <span th:if="${#fields.hasErrors('resMapVO.mapID')}"
					th:errors="*{resMapVO.mapID}" class="error"
					id="resMapVO.mapID.errors"></span>
			</div>



			<!-- 			<div> -->
			<!-- 			<label>照片:</label> -->
			<!-- 			<input type="file" th:field="*{upFiles}" onclick="previewImage()" multiple="multiple" /> -->
			<!--             可以不修改圖片 <span  th:if="${#fields.hasErrors('upFiles')}" th:errors="*{upFiles}" class="error" id="upFiles.errors"></span> -->
			<!-- 			<div id="blob_holder"><img th:src="@{/emp/DBGifReader} + '?empno=' + ${empVO.empno}" width="100px"></div> -->
			<!-- 			</div> -->

			<div>
				<div></div>
				<div>
					<button type="submit" id="submit">送出修改</button>
				</div>
				<div></div>
			</div>
		</form>

	</div>


	<!-- JavaScript part -->
	<script type="text/javascript">
		//清除提示信息
		function hideContent(d) {
			document.getElementById(d).style.display = "none";
		}

		//照片上傳-預覽用
		// var filereader_support = typeof FileReader != 'undefined';
		// if (!filereader_support) {
		// 	alert("No FileReader support");
		// }
		// acceptedTypes = {
		// 		'image/png' : true,
		// 		'image/jpeg' : true,
		// 		'image/gif' : true
		// };
		// function previewImage() {
		// 	var upfile1 = document.getElementById("upFiles");
		// 	upfile1.addEventListener("change", function(event) {
		// 		var files = event.target.files || event.dataTransfer.files;
		// 		for (var i = 0; i < files.length; i++) {
		// 			previewfile(files[i])
		// 		}
		// 	}, false);
		// }
		// function previewfile(file) {
		// 	if (filereader_support === true && acceptedTypes[file.type] === true) {
		// 		var reader = new FileReader();
		// 		reader.onload = function(event) {
		// 			var image = new Image();
		// 			image.src = event.target.result;
		// 			image.width = 100;
		// 			image.height = 75;
		// 			image.border = 2;
		// 			if (blob_holder.hasChildNodes()) {
		// 				blob_holder.removeChild(blob_holder.childNodes[0]);
		// 			}
		// 			blob_holder.appendChild(image);
		// 		};
		// 		reader.readAsDataURL(file);
		// 		document.getElementById('submit').disabled = false;
		// 	} else {
		// 		blob_holder.innerHTML = "<div  style='text-align: left;'>" + "● filename: " + file.name
		// 				+ "<br>" + "● ContentTyp: " + file.type
		// 				+ "<br>" + "● size: " + file.size + "bytes"
		// 				+ "<br>" + "● 上傳ContentType限制: <b> <font color=red>image/png、image/jpeg、image/gif </font></b></div>";
		// 		document.getElementById('submit').disabled = true;
		// 	}
		// }
	</script>


</body>
</html>