<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>健肌尋食-會員註冊</title>
<link th:href="@{css/bootstrap.css}" rel='stylesheet' type='text/css' />
<link th:href="@{css/style.css}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script th:src="@{js/jquery.min.js}"></script>
<style>
input[type="button"] {
	float: right;
	background: #00BFF0;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	outline: none;
	font-size: 1em;
	border-radius: 5px;
	transition: background 0.3s;
}
</style>
</head>

<body onload="showAlert()">
	<!-- start header_bottom -->
	<div class="header-bottom">
		<div class="container">
			<div class="header-bottom_left">
				<i class="phone"> </i><span>1-200-346-2986</span>
			</div>
			<div class="social">
				<ul>
					<li class="facebook"><a href="#"><span> </span></a></li>
					<li class="google"><a href="#"><span> </span></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- start menu -->
	<div class="menu">
    <div class="container">
        <div class="logo">
            <a href="index.html"><img src="images/logo.png" alt="" /></a>
        </div>
        <div class="h_menu4">
            <!-- start h_menu4 -->
            <a class="toggleMenu" href="#">Menu</a>
            <ul class="nav">
                <li><a th:href="@{/index}">Home</a></li>
                <li><a th:href="@{/account_information}" data-requires-login="true">會員專區</a></li>
                <li><a th:href="@{/trainers}" data-requires-login="true">專屬你的訓練</a></li>
                <li><a href="classes.html"  data-requires-login="true">Classes</a></li>
                <li><a th:href="@{/menu}" data-requires-login="true">健康餐</a></li>
                <li><a th:href="@{/pricing}" data-requires-login="true">Pricing</a></li>
                <li><a th:href="@{/map}" data-requires-login="true">美食地圖</a></li>
                <li><a th:href="@{/qa}" data-requires-login="true">客服</a></li>
                <li><a th:href="@{/login}">登入</a></li>
            </ul>
            <script type="text/javascript" src="js/nav.js"></script>
        </div>
        <!-- end h_menu4 -->
        <div class="clear"></div>
    </div>
</div>
	<!-- end menu -->
	<div class="main">
		<div class="login_top">
			<div class="container">
				<div class="col-md-6">
					<div class="login-page">
						<h4 class="title">歡迎加入健肌尋食</h4>
						<p>
							1.健身新手？加入我們，讓你成為健身達人！ <br> 2.你的健康，我們的使命。立即加入健身之旅！ <br>
							3.強健體魄，從這裡開始！ <br> 4.健康生活，從健身網站開始。 <br> 5.加入我們，成為更好的自己！
							<br> 6.突破自我，挑戰極限！ <br> 7.健康，力量，自信，一站搞定！ <br>
							8.加入我們，一起變強壯！ <br> 9.健身無限可能，現在開始！ <br>
							10.專業指導，健康無憂。立即註冊！
						</p>
						<div class="button1">
							<a th:href="@{register}"> <input type="submit" name="Submit"
								value="創建一個帳戶">
							</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="col-md-6">
					<!-- 登入頁面區塊 -->
					<div class="login-page">
						<!-- 登入標題 -->
						<div class="login-title">
							<h4 class="title">會員登入</h4>
							<!-- 登入表單容器 -->
							<div id="loginbox" class="loginbox">
								<!-- 表單開始 -->
								<form name="login" id="login-form" method="post" th:action="@{/login}">
									<fieldset class="input">
										<!-- 帳號/電子郵件輸入區 -->
										<p id="login-form-username">
											<label for="username">帳號</label> <input id="username"
												type="text" name="username" class="inputbox" size="18"
												autocomplete="off" required value="123">
										</p>
										<!-- 密碼輸入區 -->
										<p id="login-form-password">
											<label for="password">密碼</label> <input id="password"
												type="password" name="password" class="inputbox" size="18"
												autocomplete="off" required value="123">
										</p>
										<!-- 記住我和忘記密碼 -->
										<div class="remember">
											<p id="login-form-remember">
												<label for="modlgn_remember"><a
													th:href="@{password_verify_email}">忘記密碼?</a></label>
											</p>
											<!-- 登入按鈕 -->
											<input type="submit" value="登入">
											<div class="clear"></div>
										</div>
									</fieldset>
								</form>
								<!-- 表單結束 -->
							</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<div class="row section group">
				<div class="col-md-4">
					<div class="social"
						 style="width: 100%; height: 100%; max-width: 200px; max-height: 200px; margin-right: 100px;">
						<img src="images/cutecatloge.png" style="width: 100%; height: 100%"/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="f-logo">
						<h1>健肌尋食</h1>
					</div>
					<p class="m_9">
						「健肌尋食」是一個簡單的概念，意思是通過運動來增強肌肉，同時尋找健康的食物來補充營養，這樣可以讓我們的身體更強壯，生活更健康愉快。</p>
					<p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(02) 3333 4444</span>
					</p>
					<p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">TIA102G3@Tibeme.com</span>
					</p>
				</div>
				<div class="col-md-4">
					<ul class="list">
						<h4 class="m_7">關於我們</h4>
						<li><a href="#">隱私權政策</a></li>
						<li><a href="#">著作權聲明</a></li>
						<li><a href="#">聯絡我們</a></li>
					</ul>
					<ul class="list1">
						<h4 class="m_7">相關網站</h4>
						<li><a href="https:/www.google.com">google</a></li>
						<li><a href="https:/www.youtube.com">youtube</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="copy">
				<p>Copyright © 2024 健肌尋食 by TIA102G3</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	<script type="text/javascript">
		window.onload = function() {
			const urlParams = new URLSearchParams(window.location.search);
			const error = urlParams.get('error');
			const success = urlParams.get('success');

			if (error === 'invalid') {
				alert('登入失敗，請檢查帳號和密碼是否正確。');
			} else if (error === 'error') {
				alert('發生錯誤，請稍後再試。');
			}

			if (success === 'login') {
				alert('登入成功！');
			}
		};
		document.addEventListener('DOMContentLoaded', function() {
		    var isLoggedIn = false; // 這裡應根據實際情況設置是否登入

		    // 獲取所有需要登入的連結
		    var links = document.querySelectorAll('a[data-requires-login="true"]');

		    links.forEach(function(link) {
		        link.addEventListener('click', function(event) {
		            if (!isLoggedIn) {
		                event.preventDefault(); // 防止連結跳轉
		                alert('親  請先登入哦！');
		                // 確保回到登入頁面
		                window.location.href = '/login';
		            }
		        });
		    });
		});
	</script>

</body>

</html>