<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>健肌尋食-忘記密碼</title>
<link th:href="@{css/bootstrap.css}" rel='stylesheet' type='text/css' />
<link th:href="@{css/style.css}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script th:src="@{js/jquery.min.js}"></script>
    <style>
        .container1 {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .input-container {
            float: auto;
            margin: 0;
            padding: 20px;
        }

        .input-container input {
            border-radius: 30px;
        }

        #emailVerificationForm {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        button[type="button"] {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 30px;
            margin: 10px;
            /* background-color: aqua; */
        }

        .button1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button1 input {
            margin-bottom: 50px;
            background: #00BFF0;
            border: none;
            color: #FFF;
            padding: 10px 20px;
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
            outline: none;
            font-size: 1em;
            border-radius: 5px;
            transition: background 0.3s;
        }
    </style>
</head>

<body>
    <!-- start header_bottom -->
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom_left">
                <i class="phone"> </i><span>1-200-346-2986</span>
            </div>
            <div class="social">
                <ul>
                    <li class="facebook"><a href="#"><span> </span></a></li>
                    <li class="google"><a href="#"><span> </span></a></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!-- start menu -->
    <div class="menu">
        <div class="container">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt="" /></a>
            </div>
            <div class="h_menu4"><!-- start h_menu4 -->
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li><a href="index.html">主頁</a></li>
                    <li class="active"><a href="account_information.html">會員專區</a></li>
                    <li><a href="trainers.html">課程</a></li>
                    <li><a href="classes.html">教室</a></li>
                    <li><a href="blog.html">健康飲食</a></li>
                    <li><a href="pricing.html">線上商城</a></li>
                    <li><a href="contact.html">健康地圖</a></li>
                </ul>
                <script type="text/javascript" src="js/nav.js"></script>
            </div><!-- end h_menu4 -->
            <div class="clear"></div>
        </div>
    </div>
    <div class="container1">
        <h2>填寫新密碼</h2>
        <form id="emailVerificationForm">
            <div class="input-container">
                <label for="new-password">請輸入新密碼</label>
                <input type="password" id="new-password" name="new-password" placeholder="新密碼">
                <span class="toggle-button" onclick="togglePassword()">👁️</span>
            </div>
            <div class="input-container">
                <label for="confirm-Password">確認密碼</label>
                <input type="password" id="confirm-Password" name="confirm-Password" placeholder="再次輸入新密碼">
                <span class="toggle-button1" onclick="togglePassword()">👁️</span>
            </div>
            <div class="clear"> </div>
            <div class="button1">
                <input type="button" onclick="register()" value="送出" class="btn">
                <a id="password-complete-link" th:href="@{/password_complete_page}" class="hidden-link"></a>
            </div>
        </form>
    </div>
    <!-- end menu -->
    <div class="main">
        <div class="footer-bottom">
            <div class="container">
                <div class="row section group">
                    <div class="col-md-4">
                        <h4 class="m_7">訂閱電子報</h4>
                        <!-- 簡短描述新聞訂閱 -->
                        <p class="m_8">關於我們有關的飲食通知</p>
                        <!-- 訂閱表單 -->
                        <form class="subscribe">
                            <!-- 電子郵件輸入框 -->
                            <input type="text" value="輸入電子郵件" onfocus="this.value = '';"
                                onblur="if (this.value == '') {this.value = '輸入電子郵件';}">
                        </form>
                        <!-- 提交按鈕 -->
                        <div class="subscribe1">
                            <a href="#">送出電子郵件<i class="but_arrow"> </i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="f-logo">
                            <img src="images/logo.png" alt="" />
                        </div>
                        <p class="m_9">關於現代人對於健康越來越有意識，但時常沒有正確的觀念來執行，導致會讓人無法繼續維持下去。
                            <br>
                            於是乎我們就想要建立一個可以幫助大家 & 功能方便網站，可以透過此網站來學習正確的觀念，並且記錄自己的生活是否有達到健康的水準。
                        </p>
                        <p class="address">電話 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(00) 222 666 444</span>
                        </p>
                        <p class="address">電子郵件 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                                class="m_10">info[at]mycompany.com</span></p>
                    </div>
                    <div class="col-md-4">
                        <ul class="list">
                            <h4 class="m_7">Menu</h4>
                            <li><a href="#">會員</a></li>
                            <li><a href="#">Trainers</a></li>
                            <li><a href="#">Classes</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                        <ul class="list1">
                            <h4 class="m_7">Community</h4>
                            <li><a href="#">部落格</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Newsletter</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="copy">
                    <p>© 2014 Template by <a href="http://w3layouts.com" target="_blank"> w3layouts</a></p>
                </div>
                <div class="social">
                    <ul>
                        <li class="facebook"><a href="#"><span> </span></a></li>
                        <li class="google"><a href="#"><span> </span></a></li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
    <script>
    	function register() {
        	// 取得隱藏的 <a> 連結並觸發點擊事件
        	document.getElementById('password-complete-link').click();
    	}

        function togglePassword() {
            const passwordField = document.getElementById('new-password');
            const toggleButton = document.querySelector('.toggle-button');
            const passwordField1 = document.getElementById('confirm-Password');
            const toggleButton1 = document.querySelector('.toggle-button1');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleButton.textContent = '🙈'; // 隱藏密碼圖標
            } else {
                passwordField.type = 'password';
                toggleButton.textContent = '👁️'; // 顯示密碼圖標
            }
            if (passwordField1.type === 'password') {
                passwordField1.type = 'text';
                toggleButton1.textContent = '🙈'; // 隱藏密碼圖標
            } else {
                passwordField1.type = 'password';
                toggleButton1.textContent = '👁️'; // 顯示密碼圖標
            }
        }
    </script>
</body>

</html>