<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>健肌尋食-忘記密碼</title>
<link th:href="@{css/bootstrap.css}" rel='stylesheet' type='text/css' />
<link th:href="@{css/style.css}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script th:src="@{js/jquery.min.js}"></script>
    <style>
        .container1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h2 {
            text-align: center;
            /* background-color: aqua; */
            margin-top: 100px;
        }

        .button1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .button1 input {
            font-size: 25px;
            /* float: right; */
            width: 300px;
            height: 50px;
            margin-bottom: 50px;
            /* background-color: aqua; */
        }
    </style>
</head>

<body>
    <div class="menu">
        <div class="container">
            <div class="logo">
				<a th:href="@{/index}"><img th:src="@{images/logo.png}" alt=""/></a>
		 	</div>
            <div class="h_menu4"><!-- start h_menu4 -->
                <a class="toggleMenu" href="#">Menu</a>
                <ul class="nav">
                    <li><a th:href="@{/index}" onclick="return confirmLeavePage();">首頁</a></li>
					<li><a th:href="@{/account_information}" onclick="return promptLogin();">會員專區</a></li>
					<li><a th:href="@{/trainers}" onclick="return promptLogin();">專屬你的訓練</a></li>
					<li><a th:href="@{/menu}" onclick="return promptLogin();">健康餐</a></li>
					<li><a th:href="@{/pricing}" onclick="return promptLogin();">購物商城</a></li>
					<li><a th:href="@{/map}" onclick="return confirmLeavePage();">美食地圖</a></li>
					<li><a th:href="@{/qa}" onclick="return confirmLeavePage();">客服</a></li>
					<li class="active"><a th:href="@{/login}" onclick="return confirmLeavePage();">登入</a></li>
                </ul>
                <script type="text/javascript" src="js/nav.js"></script>
            </div><!-- end h_menu4 -->
            <div class="clear"></div>
        </div>
    </div>
    <div class="container1">
        <h2>親愛的會員，您已經可以用臨時密碼登入瞜！
            <br>
            <br>
            請重新登入
        </h2>
        <div class="button1">
        	<input type="button" onclick="register()" value="返回登入頁面" class="btn">
            <a id="login-link" th:href="@{/login}" class="hidden-link"></a>
        </div>
    </div>
    <!-- end menu -->
    <div class="footer-bottom">
		<div class="container">
			<div class="row section group">
				<div class="col-md-4">
					<div class="social"
						 style="width: 100%; height: 100%; max-width: 200px; max-height: 200px; margin-right: 100px;">
						<img src="images/cutecatloge.png" style="width: 100%; height: 100%"/>
					</div>
				</div>
				<div class="col-md-4">
					<div class="f-logo">
						<h1>健肌尋食</h1>
					</div>
					<p class="m_9">
						「健肌尋食」是一個簡單的概念，意思是通過運動來增強肌肉，同時尋找健康的食物來補充營養，這樣可以讓我們的身體更強壯，生活更健康愉快。</p>
					<p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(02) 3333 4444</span>
					</p>
					<p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">TIA102G3@Tibeme.com</span>
					</p>
				</div>
				<div class="col-md-4">
					<ul class="list">
						<h4 class="m_7">關於我們</h4>
						<li><a href="#">隱私權政策</a></li>
						<li><a href="#">著作權聲明</a></li>
						<li><a href="#">聯絡我們</a></li>
					</ul>
					<ul class="list1">
						<h4 class="m_7">相關網站</h4>
						<li><a href="https:/www.google.com">google</a></li>
						<li><a href="https:/www.youtube.com">youtube</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="copy">
				<p>Copyright © 2024 健肌尋食 by TIA102G3</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
    <script>
    	function register() {
        	// 取得隱藏的 <a> 連結並觸發點擊事件
        	document.getElementById('login-link').click();
    	}
    	function promptLogin() {
    		alert('請先完成登入');
    		return false; // 阻止預設行為
    	}

    	function confirmLeavePage() {
    		return confirm('確定要離開註冊頁面嗎？');
    	}
    </script>
</body>

</html>