.menu_images{
    /* height: 200px; */
    /* width: auto; */
    /* max-width: 100%;
    height: auto; */
    width: 100%;
    height: auto;
    border-radius: 50px;
    /* text-align: center; */
}

.menu_container{
    display: flex;
    width: auto;
    flex-wrap: nowrap;
}

.menu_content{
    /* flex: 1; */
    margin: 5px;
}

.menu_text{
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.error {
    color: #ff0000;
    font-style: italic;
    font-weight: lighter;
}

.errorblock {
    color: #000;
    background-color: #ffEEEE;
    border: 3px solid #ff0000;
    padding: 5px;
    margin: 5px;
    width: 500px;
    font-weight: normal;
}