<!DOCTYPE HTML>
<html>

<head>
  <title>Free Gym Website Template | Foodmap :: w3layouts</title>
  <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
  <link href="css/style.css" rel='stylesheet' type='text/css' />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
  </script>
  <script src="js/jquery.min.js"></script>
  <!-- grid-slider -->
  <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
  <script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
  <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
  <!-- //grid-slider -->
  <style>
    #pocket {
      margin-left: 20%;
      padding: 16px;
    }

    h4,
    #add {
      margin-left: 30%;
      transform: translateX(50px);
    }

    .parent {
      display: block;
    }
    
    h3 {
  transform: translateX(60px); 
}
#search-input {
  margin-left: 40px;
}
  </style>
</head>

<body>
  <!-- start header_bottom -->
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom_left">
        <i class="phone"> </i><span>02-3333-4444</span>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <!-- start menu -->
  <div class="menu">
    <div class="container">
      <div class="logo">
        <a th:href="@{/index}"><img th:src="@{images/logo.png}" alt="" /></a>
      </div>
      <div class="h_menu4">
        <!-- start h_menu4 -->
        <a class="toggleMenu" href="#">選單</a>
        <ul class="nav">
          <li><a th:href="@{/index}">Home</a></li>
          <li><a th:href="@{/account_information}">會員專區</a></li>
          <li><a th:href="@{/trainers}">專屬你的訓練</a>
          <li><a href="classes.html">Classes</a></li>
          <li><a th:href="@{/menu}">健康餐</a></li>
          <li><a th:href="@{pricing}">Pricing</a></li>
          <li><a th:href="@{/map}">美食地圖</a>
            <ul>
              <li><a th:href="@{/foodmap}">口袋店家</a></li>
            </ul>
          </li>
          <li><a th:href="@{/qa}">客服</a></li>
        </ul>
        <script type="text/javascript" src="js/nav.js"></script>
      </div>
      <!-- end h_menu4 -->
      <div class="clear"></div>
    </div>
  </div>
  <!-- end menu -->
  <div style="display: flex;">
    <!--子元素在同一軸線上排列 -->
    <div id="map" style="width: 50%; height: 100vh;"></div>
    <div id="pocket" style="padding: 16px">
      <h3>我的口袋收藏店家</h3>
      <input id="search-input" class="form-control" />
      <button class="btn btn-primary mt-10" id="add" style="margin-top: 10px;">我的最愛</button>

      <h4 class="mt-4">我的最愛</h4>
      <ul class="list-group list-group-flush list-group-numbered" id="restaurant-list">
        <!-- <li class="list-group-item"></li> -->
      </ul>
    </div>
  </div>

  <script>
    let map;
    let currentPosition;
    let selectedRestaurant;
    let marker;
    let userMarker; // 使用者位置的標記
    let directionsService;
    let directionsRenderer;
    let infoWindow;

    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: 25.052341806588252, lng: 121.5433172679862 },
        zoom: 13,
      });

      navigator.geolocation.getCurrentPosition(function (position) {
        currentPosition = {
          lat: position.coords.latitude,
          lng: position.coords.longitude,
        };

        map.setCenter(currentPosition);
        map.setZoom(18);

        // 在使用者位置上增加標記
        userMarker = new google.maps.Marker({
          position: currentPosition,
          map: map,
          title: "您的位置",
        });

        const autocomplete = new google.maps.places.Autocomplete(
          document.getElementById('search-input'),
          {
            types: ['restaurant'],
            bounds: {
              east: currentPosition.lng + 0.005,
              west: currentPosition.lng - 0.005,
              south: currentPosition.lat - 0.005,
              north: currentPosition.lat + 0.005,
            },
            strictBounds: false,
          }
        );

        autocomplete.addListener('place_changed', function () {
          const place = autocomplete.getPlace();

          selectedRestaurant = {
            location: place.geometry.location,
            placeId: place.place_id,
            name: place.name,
            address: place.formatted_address,
            phoneNumber: place.formatted_phone_number,
            rating: place.rating,
          };

          map.setCenter(selectedRestaurant.location);

          if (!marker) {
            marker = new google.maps.Marker({
              map: map,
            });
          }

          marker.setPosition(selectedRestaurant.location);

          if (!directionsService) {
            directionsService = new google.maps.DirectionsService();
          }

          if (!directionsRenderer) {
            directionsRenderer = new google.maps.DirectionsRenderer({
              map: map,
            });
          }

          directionsRenderer.set('directions', null);

          directionsService.route(
            {
              origin: new google.maps.LatLng(
                currentPosition.lat,
                currentPosition.lng
              ),
              destination: {
                placeId: selectedRestaurant.placeId,
              },
              travelMode: 'WALKING',
            },
            function (response, status) {
              if (status === 'OK') {
                directionsRenderer.setDirections(response);

                if (!infoWindow) {
                  infoWindow = new google.maps.InfoWindow();
                }

                infoWindow.setContent(
                  `<h3>${selectedRestaurant.name}</h3>
                  <div>地址: ${selectedRestaurant.address}</div>
                  <div>電話: ${selectedRestaurant.phoneNumber}</div>
                  <div>評分: ${selectedRestaurant.rating}</div>
                  <div>步行時間: ${response.routes[0].legs[0].duration.text}</div>`
                );
                infoWindow.open(map, marker);
              }
            }
          );
        });
      });
    }

    const restaurantList = JSON.parse(localStorage.getItem('restaurantList')) || [];
    restaurantList.forEach(function (restaurant) {
      document.getElementById('restaurant-list').innerHTML +=
        `<li class="list-group-item" data-place-id="${restaurant.placeId}">${restaurant.name}
        <button class="btn-close float-end remove"></button>
        </li>`;
    });

    document.getElementById('add').addEventListener('click', function () {
      document.getElementById('restaurant-list').innerHTML +=
        `<li class="list-group-item" data-place-id="${selectedRestaurant.placeId}">${selectedRestaurant.name}
        <button class="btn-close float-end remove"></button>
        </li>`;

      const restaurantList = JSON.parse(localStorage.getItem('restaurantList')) || [];
      restaurantList.push(selectedRestaurant);
      localStorage.setItem('restaurantList', JSON.stringify(restaurantList));
    });

    document.getElementById('restaurant-list').addEventListener('click', function (e) {
      if (e.target.classList.contains('remove')) {
        e.target.parentNode.remove();
        const restaurantName = e.target.parentNode.innerText.trim();

        const restaurantList = JSON.parse(localStorage.getItem('restaurantList')) || [];
        const newRestaurantList = restaurantList.filter(function (restaurant) {
          return restaurant.name !== restaurantName;
        });
        localStorage.setItem('restaurantList', JSON.stringify(newRestaurantList));
      } else if (e.target.classList.contains('list-group-item')) {
        const placeId = e.target.getAttribute('data-place-id');

        // 使用 placeId 查詢店家資訊
        const service = new google.maps.places.PlacesService(map);
        service.getDetails({ placeId: placeId }, function (place, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            map.setCenter(place.geometry.location);

            if (!marker) {
              marker = new google.maps.Marker({
                map: map,
              });
            }

            marker.setPosition(place.geometry.location);

            if (!infoWindow) {
              infoWindow = new google.maps.InfoWindow();
            }

            infoWindow.setContent(
              `<h3>${place.name}</h3>
              <div>地址: ${place.formatted_address}</div>
              <div>電話: ${place.formatted_phone_number}</div>
              <div>評分: ${place.rating}</div>`
            );
            infoWindow.open(map, marker);
          }
        });
      }
    });
  </script>

  <div class="footer-bottom">
    <div class="container">
      <div class="row section group">
        <div class="col-md-4">
          <div class="social" style="width: 100%; height: 100%; max-width: 200px; max-height: 200px; margin-right: 100px;">
            <img th:src="@{images/cutecatloge.png}" style="width: 100%; height: 100%">
          </div>
        </div>
        <div class="col-md-4">
          <div class="f-logo">
            <h1>健肌尋食</h1>
          </div>
          <p class="m_9">
            「健肌尋食」是一個簡單的概念，意思是通過運動來增強肌肉，同時尋找健康的食物來補充營養，這樣可以讓我們的身體更強壯，生活更健康愉快。
          </p>
          <p class="address">
            Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(02) 3333 4444</span>
          </p>
          <p class="address">
            Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">TIA102G3@Tibeme.com</span>
          </p>
        </div>
        <div class="col-md-4">
          <ul class="list">
            <h4 class="m_7">關於我們</h4>
            <li><a href="#">隱私權政策</a></li>
            <li><a href="#">著作權聲明</a></li>
            <li><a href="#">聯絡我們</a></li>
          </ul>
          <ul class="list1">
            <h4 class="m_7">相關網站</h4>
            <li><a href="https:/www.google.com">google</a></li>
            <li><a href="https:/www.youtube.com">youtube</a></li>
            <li><a href="#">Support</a></li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="copy">
        <p>Copyright © 2024 健肌尋食 by TIA102G3</p>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDylvnIujpKBxv3GQ9RQHglVSs-kPaoBE&libraries=places&callback=initMap&region=TW&language=zh-TW">
  </script>
</body>

</html>
