<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Free Gym Website Template | Foodmap :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'
	rel='stylesheet' type='text/css'>

<script src="js/jquery.min.js"></script>
<!-- grid-slider -->
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<!-- //grid-slider -->

<!-- 加載 Google Maps API -->
<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDDylvnIujpKBxv3GQ9RQHglVSs-kPaoBE"></script>

<script th:inline="javascript">
    // 將後端的 restMapList 和 restIfoListData 傳遞到 JavaScript
    var restMapList = /*[[${restMapList}]]*/ [];  // 將Thymeleaf 表達式 ${restMapList} 的數據綁定到 JavaScript 變量 restMapList 中
    var restIfoListData = /*[[${restIfoListData}]]*/ [];  
    
    // console.log("restMapList:", restMapList);
    // console.log("restIfoListData:", restIfoListData);

    // 判斷 restMapList 是否為空，如果為空則在控制台輸出錯誤信息
    if (!restMapList || restMapList.length === 0) {  // 如果 restMapList 是空的或未定義，則輸出錯誤信息
        console.error("restMapList is empty or undefined.");
    } else {
        // 創建 Google 地圖的函數
        function drawChart() {
            const map = new google.maps.Map(document.getElementById('map_div'), {  // 使用 Google Maps API 創建一個地圖實例
                zoom: 14,  
                center: { lat: parseFloat(restMapList[0][0]), lng: parseFloat(restMapList[0][1]) },  // 將地圖的中心點設置為 restMapList 中第一個餐廳的經緯度
                mapTypeId: google.maps.MapTypeId.ROADMAP 
            });

            // 遍歷 restMapList 中的每個項目，為每個項目在地圖上添加一個標記
            restMapList.forEach((item, index) => {  // forEach 遍歷 restMapList，每個 item 對應一個餐廳的位置
                const [lat, lng, id] = item;  // 解構賦值，從 item 中提取經度 (lat)、緯度 (lng) 和地圖 ID (id)
                const position = { lat: parseFloat(lat), lng: parseFloat(lng) };  // 將經緯度從字符串轉換為浮點數，並存入 position 對象

                const marker = new google.maps.Marker({  // 使用 Google Maps API 創建一個標記
                    position: position,  // 設置標記的位置為指定的經緯度
                    map: map,  // 將標記添加到地圖上
                    title: `Map ID: ${id}`  // 設置標記的標題，當鼠標懸停在標記上時顯示
                });

                // 為標記添加點擊事件監聽器
                marker.addListener('click', () => {  // 當標記被點擊時，執行此匿名函數
                    const restIfo = restIfoListData[index];  // 根據 index 從 restIfoListData 中獲取對應的餐廳信息
                    const content = `  
                        <div>
                            <h4>${restIfo.restName}</h4>  
                            <p>電話: ${restIfo.restTel}</p>  
                            <p>地址: ${restIfo.restAddress}</p>  
                            <p>營業時間: ${restIfo.restTime}</p>  
                        </div>
                    `;
                    const infoWindow = new google.maps.InfoWindow({  // 使用 Google Maps API 創建一個信息窗口
                        content: content  
                    });
                    infoWindow.open(map, marker);  // 在地圖上打開信息窗口，並將其與相應的標記關聯
                });
            });
        }

        // 當窗口加載完畢時，調用 drawChart 函數來繪製地圖
        window.onload = drawChart;  // 當頁面完全加載後，調用drawChart 函數
    }
</script>


<style>
.container-flex {
	display: flex;
	height: 100vh;
}

#map_div {
	width: 50%;
}

.table-container {
	width: 50%;
	padding-left: 0px;
}

table {
	width: 100%;
}

table {
	width: 100%;
	text-align: center;
}

th, td {
	text-align: center;
	vertical-align: middle;
}
</style>
</head>

<body>

	<!-- start header_bottom -->
	<div class="header-bottom">
		<div class="container">
			<div class="header-bottom_left">
				<i class="phone"> </i><span>02-3333-4444</span>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- start menu -->
	<div class="menu">
		<div class="container">
			<div class="logo">
				<a th:href="@{/index}"><img th:src="@{images/logo.png}" alt="" /></a>
			</div>
			<div class="h_menu4">
				<!-- start h_menu4 -->
				<a class="toggleMenu" href="#">選單</a>
				<ul class="nav">
					<li><a th:href="@{/index}">首頁</a></li>
					<li th:if="${isLoggedIn}"><a th:href="@{/account_information}">會員專區</a></li>
					<li th:if="${isLoggedIn}"><a th:href="@{/trainers}">專屬你的訓練</a></li>
					<li th:if="${isLoggedIn}"><a th:href="@{/menu}">健康餐</a></li>
					<li th:if="${isLoggedIn}"><a th:href="@{/pricing}">購物商城</a></li>
					<li><a th:href="@{/map}">美食地圖</a>
						<ul>
							<li><a th:href="@{/foodmap}">口袋店家</a></li>
						</ul></li>
					<li><a th:href="@{/qa}">客服</a></li>
					<li><a th:href="@{/loggedIn}">登入</a></li>
				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
			</div>
			<!-- end h_menu4 -->
			<div class="clear"></div>
		</div>
	</div>

	<div class="container-flex">
		<div id="map_div"></div>

		<div class="table-container">
			<table id="example" class="display">
				<thead>
					<tr style="background-color: #cce5ff; width: 100%; padding: 0;">
						<th>地圖編號</th>
						<th>餐廳名稱</th>
						<th>餐廳地址</th>
						<th>營業時間</th>
						<th>餐廳電話</th>
						<th>餐廳編號</th>
					</tr>
				</thead>

				<tbody>
					<th:block th:each="restIfoVO : ${restIfoListData}">
						<tr>
							<td
								th:text="${restIfoVO.restMapVO != null} ? ${restIfoVO.restMapVO.mapID} + '-[' + ${restIfoVO.restMapVO.mapID} + ']' : 'N/A'"></td>
							<td th:text="${restIfoVO.restName}"></td>
							<td th:text="${restIfoVO.restAddress}"></td>
							<td th:text="${restIfoVO.restTime}"></td>
							<td th:text="${restIfoVO.restTel}"></td>
							<td th:text="${restIfoVO.restLoc}"></td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="row section group">
				<div class="col-md-4">
					<div class="social"
						style="width: 100%; height: 100%; max-width: 200px; max-height: 200px; margin-right: 100px;">
						<img src="images/cutecatloge.png"
							style="width: 100%; height: 100%" />
					</div>
				</div>
				<div class="col-md-4">
					<div class="f-logo">
						<h1>健肌尋食</h1>
					</div>
					<p class="m_9">
						「健肌尋食」是一個簡單的概念，意思是通過運動來增強肌肉，同時尋找健康的食物來補充營養，這樣可以讓我們的身體更強壯，生活更健康愉快。</p>
					<p class="address">
						Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(02)
							3333 4444</span>
					</p>
					<p class="address">
						Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">TIA102G3@Tibeme.com</span>
					</p>
				</div>
				<div class="col-md-4">
					<ul class="list">
						<h4 class="m_7">關於我們</h4>
						<li><a href="#">隱私權政策</a></li>
						<li><a href="#">著作權聲明</a></li>
						<li><a href="#">聯絡我們</a></li>
					</ul>
					<ul class="list1">
						<h4 class="m_7">相關網站</h4>
						<li><a href="https:/www.google.com">google</a></li>
						<li><a href="https:/www.youtube.com">youtube</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="copy">
				<p>Copyright © 2024 健肌尋食 by TIA102G3</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</body>

</html>
