<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
<title>Free Gym Website Template | Pricing :: w3layouts</title>
<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'
	rel='stylesheet' type='text/css'>
<script type="application/x-javascript">	
	 addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } 
</script>
<script src="js/jquery.min.js"></script>
<!-- grid-slider -->
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="js/jquery.contentcarousel.js"></script>
<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
<!-- //grid-slider -->
<!-- Add fancyBox main JS and CSS files -->
<script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
<link href="css/magnific-popup.css" rel="stylesheet" type="text/css">
<script>
 	$(document).ready(function() {
 		$('.popup-with-zoom-anim').magnificPopup({
 			type : 'inline',
 			fixedContentPos : false,
 			fixedBgPos : true,
 			overflowY : 'auto',
 			closeBtnInside : true,
 			preloader : false,
 			midClick : true,
 			removalDelay : 300,
 			mainClass : 'my-mfp-zoom-in'
 		});
 	});
</script>
<style>
.about_gallery {
	background: #F3F3F3;
	padding: 4% 0;
}

[data-tooltip]:hover:before, [data-tooltip]:hover:after, [data-tooltip]:focus:before,
	[data-tooltip]:focus:after {
	visibility: visible;
	opacity: 1;
}


.about_banner_wrap {
	position: relative;
}

h1.m_11 {
	color: #FFF;
	background: #00BFF0;
	padding: 7px 50px;
	font-size: 2em;
	text-transform: uppercase;
	font-weight: 100;
	position: absolute;
	top: -48px;
	text-align: center;
	left: 14%;
	margin: 0;
}
h3.m_3 {
	color: #FFFFFF;
	text-align: center;
}

#img1 {
	width: 300px;
	height: 300px;
}

.button {
	line-height: 1.1em;
	font-size: 1.1em;
	color: #0c0c0c;
	text-decoration: none;
	margin: 3% 0;
	background-color: #F0F0F0;
	border: 1px solid #0c0c0c;
}

.button:hover {
	background-color: #0056b3;
}
.about_gallery{
    background: #00BFF0;
}

/* ======= Fix button ======= */
body {
    height: 2000px; /* 用于测试滚动效果 */
	font-family: Arial, sans-serif;
}

#fixedDiv {
    position: fixed;
    bottom: 20px; /* 距离页面底部20px */
    right: 20px;  /* 距离页面右侧20px */
	z-index: 1000; /* 确保按钮在最上层 */
}

#fixedButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#fixedButton:hover {
    background-color: #0056b3;
}

.styled-button {
    background-color: #33b4e7; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    padding: 10px 20px; /* 按钮内边距 */
    border: none; /* 去除边框 */
    border-radius: 5px; /* 圆角边框 */
    font-size: 16px; /* 文字大小 */
    cursor: pointer; /* 鼠标指针样式 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 按钮阴影 */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* 添加过渡效果 */
}

.styled-button:hover {
    background-color: #00ff26; /* 鼠标悬停时的背景颜色 */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* 鼠标悬停时的阴影效果 */
}

.styled-button:active {
    background-color: #1c45ca; /* 按钮被点击时的背景颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 按钮被点击时的阴影效果 */
}

.hidden {
        display: none;
    }


</style>

</head>

<body>
	<div id="fixedDiv">
		<form th:action="@{orderCheck}" method="post" enctype="multipart/form-data">
			<input type="submit" value="結帳" class="styled-button">
            <!-- <input type="hidden" name="coachCourseID" th:value="${#strings.isEmpty(coachCourseID) ? 'null' : coachCourseID}"> -->
		</form>
    </div>
	<!-- start header_bottom -->
	<div class="header-bottom">
		<div class="container">
			<div class="header-bottom_left">
				<i class="phone"> </i><span>1-200-346-2986</span>
			</div>
			<div class="social">
				<ul>
					<li class="facebook"><a href="#"><span> </span></a></li>
					<li class="twitter"><a href="#"><span> </span></a></li>
					<li class="pinterest"><a href="#"><span> </span></a></li>
					<li class="google"><a href="#"><span> </span></a></li>
					<li class="tumblr"><a href="#"><span> </span></a></li>
					<li class="instagram"><a href="#"><span> </span></a></li>
					<li class="rss"><a href="#"><span> </span></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<!-- start menu -->
	<div class="menu">
		<div class="container">
			<div class="logo">
				<a href="index.html"><img src="images/logo.png" alt="" /></a>
			</div>
			<div class="h_menu4">
				<!-- start h_menu4 -->
				<a class="toggleMenu" href="#">Menu</a>
				<ul class="nav">
					<li><a th:href="@{/index}">首頁</a></li>
					<li><a th:href="@{/account_information}">會員專區</a></li>
					<li><a th:href="@{/trainers}">專屬你的訓練</a></li>
					<li><a th:href="@{/menu}">健康餐</a></li>
					<li class="active"><a th:href="@{/pricing}">購物商城</a></li>
					<li><a th:href="@{/map}">美食地圖</a></li>
					<li><a th:href="@{/qa}">客服</a></li>
					<li><a th:href="@{/logout}" class="logout-button">登出</a></li>
				</ul>
				<script type="text/javascript" src="js/nav.js"></script>
			</div>
			<!-- end h_menu4 -->
			<div class="clear"></div>
		</div>
	</div>
	<!-- end menu -->
	<!------------------⬇️以下為修改範圍⬇️------------------------>
	<div class="main">
		<div class="about_banner_img">
			<img src="images/price.jpg" class="img-responsive" alt="" />
		</div>
		<div class="about_banner_wrap">
			<h1 class="m_11">線上購物</h1>
		</div>
		<div class="border"></div>
		<div class="container">
			<div class="row price_plans">
				<!-- member id -->
				<div>
					<h5 class="hidden">會員ID: </h5>
					<h5 class="hidden" id="mID" th:text="${memberID}"></h5>
				</div>
			<h3 class="m_2">商品瀏覽</h3>
			<div class="price_plans_box">				
				
				<div th:if="${(productList != null) and !productList.empty}">
					<div class="col-md-4" th:each="productVO : ${productList}">
						<div class="card mb-4 shadow-sm">
							<img
								th:src="@{|/course/DBGifReader?picID=${productVO.productID}&source=productPic|}"
								class="card-img-top" alt="Product Image"
								style="height: 200px; object-fit: cover;">
							<div class="card-body">
								<div class="product" th:data-product-id="${productVO.productID}">
									<!-- <h5 class="card-title">產品名稱</h5> -->
									<h5 class="card-title" th:text="${productVO.prodName}">默認產品名稱</h5>
									
									<span class="card-text" th:text="${productVO.intro}">產品介紹</span>
									<div class="d-flex justify-content-between align-items-center">
										<span>價格</span>
										<small class="text-muted" th:text="${productVO.price}"></small>
									</div>
									<label for="quantity">數量:</label>
									<select name="quantity" th:id="'quantity-' + ${productVO.productID}">
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
									</select>
									<button class="add-to-cart" 
											th:attr="id=${productVO.productID}" 
											th:data-product-id="${productVO.productID}">加到購物車</button>
											<!-- <a th:href="@{/shoppingcart}" class="button">加到購物車測試</a> -->
								</div>
								
								
								<div>
								</div>
							</div>
						</div>
							
					</div>
				</div>
					<!-- product List is null -->
					<div
						th:if="${productList == null or productList.empty}">
						<p>目前沒有可用的產品。</p>
					</div>
			</div>

			<div class="clear"></div>
		</div>
	</div>
	
	

	</div>

		<ul class="price_question">
		<div class="container">
			<li class="question_left">
				<h4>解惑專區</h4>
				<p>如對於本網站商品有任何疑問，歡迎與我們聯絡！</p>
			</li>
			<!-- href要改成客服頁面 -->
			<li class="question_right"
				onclick="window.location.href='./product_intro.html'">(客服e-mail)</li>
			<div class="clear"></div>
		</div>
	</ul>
<!-- 	</div> -->
	<!------------------⬆️以上為修改範圍⬆️------------------------>
	<div class="footer-bottom">
		<div class="container">
			<div class="row section group">
				<div class="col-md-4">
					<div class="social"
						 style="width: 100%; height: 100%; max-width: 200px; max-height: 200px; margin-right: 100px;">
						<img th:src="@{images/cutecatloge.png}" style="width: 100%; height: 100%">
					</div>
				</div>
				<div class="col-md-4">
					<div class="f-logo">
						<h1>健肌尋食</h1>
					</div>
					<p class="m_9">
						「健肌尋食」是一個簡單的概念，意思是通過運動來增強肌肉，同時尋找健康的食物來補充營養，這樣可以讓我們的身體更強壯，生活更健康愉快。</p>
					<p class="address">Phone : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">(02) 3333 4444</span>
					</p>
					<p class="address">Email : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="m_10">TIA102G3@Tibeme.com</span>
					</p>
				</div>
				<div class="col-md-4">
					<ul class="list">
						<h4 class="m_7">關於我們</h4>
						<li><a href="#">隱私權政策</a></li>
						<li><a href="#">著作權聲明</a></li>
						<li><a href="#">聯絡我們</a></li>
					</ul>
					<ul class="list1">
						<h4 class="m_7">相關網站</h4>
						<li><a href="https:/www.google.com">google</a></li>
						<li><a href="https:/www.youtube.com">youtube</a></li>
						<li><a href="#">Support</a></li>
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="copy">
				<p>Copyright © 2024 健肌尋食 by TIA102G3</p>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="copy">
				<p>
					© 2014 Template by <a href="http://w3layouts.com" target="_blank">
						w3layouts</a>
				</p>
			</div>
			<div class="social">
				<ul>
					<li class="facebook"><a href="#"><span> </span></a></li>
					<li class="twitter"><a href="#"><span> </span></a></li>
					<li class="pinterest"><a href="#"><span> </span></a></li>
					<li class="google"><a href="#"><span> </span></a></li>
					<li class="tumblr"><a href="#"><span> </span></a></li>
					<li class="instagram"><a href="#"><span> </span></a></li>
					<li class="rss"><a href="#"><span> </span></a></li>
				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>

	
	
	<script type="text/javascript">
// 	$(document).ready(function() {
// 		$('.add-to-cart').click(function() {
// 			// 从按钮的 data-product-id 属性中获取商品 ID
// 			const productId = $(this).data('product-id');
// 			// 从对应的选择框中获取数量
// 			const quantity = $(`#quantity-${productId}`).val();

// 			console.log('商品ID:', productId);
// 			console.log('數量:', quantity);

// 			// 发送 AJAX 请求
// 			$.ajax({
// 			    url: 'http://localhost:8080/redis/save',
// 			    type: 'POST',
// 			    contentType: 'application/json',
// 			    data: JSON.stringify({ id: productId, quantity: quantity }),
// 			    success: function(data) {
// 			        console.log('成功:', data);
// 			        // 可以在这里添加成功提示或处理响应
// 			    },
// 			    error: function(error) {
// 			        console.error('错误:', error);
// 			        // 处理错误
// 			    }
// 			});
// 		});
// 	});

    $(document).ready(function() {
	    $('.add-to-cart').click(function() {
	        // 从按钮的 data-product-id 属性中获取商品 ID
	        const productId = $(this).data('product-id');
	        
	        // 从对应的选择框中获取数量
	        const quantity = $(`#quantity-${productId}`).val();
	
	        // 查找父级 .product 容器，并获取 <h5> 和 <small> 标签内的文本
	        const productContainer = $(this).closest('.product');
	        let productName = productContainer.find('.card-title').text();
	        let productPrice = productContainer.find('.text-muted').text();
			// 獲取 <h5 id="mID"> 中的文本值
			const memberID = $('#mID').text().trim();
				
			console.log('memberID:', memberID);
	        console.log('商品ID:', productId);
	        console.log('數量:', quantity);
	        console.log('商品名稱:', productName);
	        console.log('商品價格:', productPrice);
	
	        // 发送 AJAX 请求
	        $.ajax({
	            // url: 'http://localhost:8080/redis/save',
	            url: '/redis/saveOrder',
				// url: 'http://tia102g3.ddns.net/redis/saveOrder',
	            type: 'POST',
	            contentType: 'application/json',
	            data: JSON.stringify({
					memberID: memberID,  // 請提供正確的 memberID
					productList: [
						{ id: productId, quantity: quantity, name: productName, price: productPrice }
					]
    			}),
	            success: function(data) {
	                console.log('成功:', data);
	                // 可以在这里添加成功提示或处理响应
	            },
	            error: function(error) {
	                console.error('错误:', error);
	                // 处理错误
	            }
	        });
	    });
	});

	</script>
	
	
	
</body>

</html>